@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Foldit:wght@300;400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #F3F3F4;
    font-family: "Lato";
}

h1{
    font-weight: 700;
    font-size: 40px;
}

.h1Team{
    margin-bottom: 20px; 
}

h2{
    font-weight: 300;
    font-size: 24px;
}

h3{
    font-family: "Foldit";
    font-size: 30px;
    font-weight: 300;
}

h4{
    font-size: 24px;
    font-weight: 600;
}

h5{
    font-size: 22px;
    font-weight: 600;
}

h6{
    font-size: 20px;
    font-weight: 600;
}

p{
    font-size: 14px;
    font-weight: 400;
}

.bg1{
    background: linear-gradient(91.22deg, rgba(17, 28, 34, 0.75) 3.09%, rgba(26, 40, 49, 0.75) 97.96%);
    border: 2px solid #FFFFFF;
    border-radius: 18px;
}


.body{
    margin: 0 auto;
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url('../img/707937.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.header img{
    margin-right: 20px;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__right{
    display: flex;
    margin-right: 5%;
}
.header__right a{
    width: 5%;
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
}
.header__right a:hover{
    font-weight: 600;
}



.flex_align_center{
    display: flex;
    align-items: center;
} 

.graph_type h5{
    font-size: 14px;
}

.graph_type_map{
    margin-top: 40px;
    position: relative;
    width: 100%;
}

.graph_type .img_map{
    width: 90%;
}

.graph_type .img{
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.graph_type .flex_align_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    justify-content: center;
}

.graph_type .flex_align_center .imgFlex{
    width: 20%;
}

.graph_type .flex_align_center .tilted_line{
    width: 1px;
    height: 20px;
    margin: 0 5px;
    background-color: white;
    transform: rotate(10deg);
}
 
.graph_type:hover{
    background-color: rgba(255, 255, 255, 0.08);
}